body
{
	font-size:15px;
	font-family: 'Poppins', sans-serif;
	background-color:hsl(0, 0%, 98%) !important;
}
.main
{
    margin:auto;
	margin-top:1%;
	width:40%;
	text-align:center;
}
.reliable,.artificial,.material
{
    color:hsl(229, 6%, 66%);
	/*color:hsl(160, 2%, 40%);*/
	font-weight:400;
}
.powered,.heading
{
	color:hsl(234, 12%, 34%);
	font-weight:600;
	margin-bottom:1rem;
	margin-left:1rem;
}
.reliable,.powered
{
	font-size:25px;
}

.supervisor, .team,.karma,.calculator
{
	height:13rem;
	background-color:#fff;
	box-shadow: 8px 3px 20px 1px hsl(229, 6%, 66%);
	border-radius:5px;
}
.artificial
{
	margin-bottom:-0.5rem;
	margin-top:-0.5rem;
}
.container
{
	margin-top:7%;
}
.col-sm
{
	margin:1%;
}
.team
{
	margin-top:-20%;
	border-top:3px solid hsl(0, 78%, 62%);
	padding-left:0.5rem;
}
.karma
{
	margin-top:10%;
	border-top:3px solid hsl(34, 97%, 64%);
	padding-left:0.5rem;
}
.supervisor
{
	border-top:3px solid hsl(180, 62%, 55%);
}
.calculator
{
	border-top:3px solid hsl(212, 86%, 64%);
}
.heading
{
	font-size:20px;
	margin-top:1rem;
}
img
{
	float:right;
	margin:12px;
	margin-top:1.5rem;
}
@media (max-width: 995px) {
	img
	{
		margin-top:.3rem;
		width:30%;
	}
	.main
	{
		margin-top:5%;
		width:70%;
	}
}
@media (max-width: 575px) {
	.main
	{
		margin-top:5%;
		width:80%;
		margin-bottom:3rem;
	}
	.team,.karma
	{
		margin:0;
		width:85%;
		padding-left:0.4rem;
		padding-right:0.1rem;
		margin-bottom:3rem!important;
	}
	.team,.karma,.supervisor,.calculator
	{
		margin:7% auto;
		
	}
	.supervisor,.calculator
	{
		width:79%!important;
	}
	img
	{
		width:60px;
		margin-top:1rem;
	}
}
